html,
body {
  width: 200px;
  text-align: center;
  margin-bottom:20px;
}

.hidden {
  display: none;
}

button {
  border: none;
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #87CEEB;
}

button:hover {
  background-color: #CFF2F2;
}